<section class="app">
  <h1 class="app__title">Listado de Peliculas</h1>
  <mat-form-field class="app__search">
    <mat-label>Buscador de Peliculas</mat-label>
    <input matInput type="text" placeholder="Buscar..." #searchInputMovie />
  </mat-form-field>
  <div class="movies-message">
    <div
      class="movies-message__container-cards"
      *ngIf="moviesFounded$ | async as movies; else empty"
    >
      <app-card-movie
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-card-movie>
    </div>
    <ng-template #empty class="movies-message__not-found">
      <p>no hay peliculas</p>
    </ng-template>
  </div>
</section>
