<section class="app">
  <h1>Listado de Peliculas</h1>
  <form class="app__search">
    <input type="text" placeholder="Buscar..." #searchInputMovie />
  </form>
  <div class="movies-message">
    <div
      class="movies-message__container-cards"
      *ngIf="moviesFounded$ | async as movies; else empty"
    >
      <app-card-movie
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-card-movie>
    </div>
    <ng-template #empty class="movies-message__not-found">
      <p>no hay pelicualas</p>
    </ng-template>
  </div>
</section>
